{% extends "base.html" %}
{% block title %} Afficher adresse {% endblock %}
{% block body %}
<div class="container">
	<div class="col-md-12">
		<table class="table table-responsive-sm">
            {% if data %}
				<thead>
					<tr>
						<th class="" >
						  ID
						</th>
						<th class="" >
						  Adresse
						</th>
						<th class="" >
						  Ville
						</th>
						<th class="" >
						  NPA
						</th>
					</tr>
				</thead>
			{% endif %}
			{% for row in data %}
			<tbody>
				<tr>
					  <th class="align-middle">
						  {{ row.id_adresse }}
					  </th>
					  <th class="align-middle">
						{{ row.adresse }}
					  </th>
					  <th class="align-middle">
						{{ row.ville|default("", True) }}
					  </th>
					  <th class="align-middle">
						{{ row.NPA_adresse|default("", True) }}
					  </th>
					  <th class="align-middle">
						<a class="btn btn-primary" href="{{ url_for('adresse_add') }}" role="button">Ajouter</a>
					  </th>
					  <th class="align-middle">
						<a class="btn btn-warning" href="{{ url_for('adresse_edit', id_adresse_edit_html=row.id_adresse) }}" role="button">Edit</a>
					  </th>
					  <th class="align-middle">
						<a class="btn btn-danger" href="{{ url_for('adresse_select_delete', id_adresse_delete_html=row.id_adresse) }}" role="button">Delete</a>
					  </th>
					<tr>
						<td class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('gf_edit_adresse_batiment_selected', id_adresse_batiment_edit_html=row.id_adresse) }}" role="button">Modifier</a>
						</td>
						<td class="align-middle" colspan="5">
							{{ row.batimentadresse|default("PAS DE batiment", True) }}
						</td>
					</tr>
				</tr>
			</tbody>
			{% else %}
				<tbody>
					<tr>
						<td>
							Aucun adresse.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('avertissement_sympa_pour_geeks') }}" role="button">Add</a>
						</td>
					</tr>
				</tbody>
			{% endfor %}

		</table>
	</div>
</div>
{% endblock %}
