{% extends "base.html" %}
{% block title %} Ajouter un adresse{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Clavioter un nouveau adresse
			</p>
			<form method="POST">
				<div class="form-group">
					<label for="adresse">
						adresse
					</label>
					<input type ="text" class="form-control" name="adresse_html" />
					<label for="ville">
						villle
					</label>
					<input type ="text" class="form-control" name="ville_html" />
					<label for="NPA_adresse">
						NPA_adresse
					</label>
					<input type ="number" class="form-control" name="NPA_adresse_html" />
				</div>
				<button type="submit" class="btn btn-primary">
					Enregistrer le adresse
				</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}
