{% extends "base.html" %}
{% block title %} Afficher adresse {% endblock %}
{% block body %}
<div class="container">
		<div class="col-md-12">
			<p>
				Liste des adresses
			</p>
            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th class="align-middle">
                            ID
                        </th>
                        <th class="align-middle">
                            Adresse
                        </th>
                        <th class="align-middle">
                            Ville
                        </th>
                        <th class="align-middle">
                            NPA
                        </th>
                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
				<tbody>
					<tr>
						<td class="align-middle">
							{{ row.id_adresse }}
						</td>
						<td class="align-middle">
							{{ row.adresse }}
						</td>
						<td class="align-middle">
							{{ row.ville|default("", True) }}
						</td>
						<td class="align-middle">
							{{ row.NPA_adresse|default("", True) }}
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-primary" href="{{ url_for('adresse_add') }}" role="button">Ajouter</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('adresse_edit', id_adresse_edit_html=row.id_adresse) }}" role="button">Edit</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-danger" href="{{ url_for('adresse_select_delete', id_adresse_delete_html=row.id_adresse) }}" role="button">Delete</a>
						</td>
					</tr>
				</tbody>
            {% else %}
				<tbody>
					<tr>
						<td>
							Aucun adresse.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('adresse_add') }}" role="button">Ajouter</a>
						</td>
					</tr>
				</tbody>
            {% endfor %}
			</table>
		</div>
</div>
{% endblock %}
