{% extends "base.html" %}
{% block title %}Edit adresse{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Modifier ce adresse.
			</p>
			<form method="POST" action="{{ url_for('adresse_update') }}">
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>
                                id adresse
                            </th>
                            <th class="align-middle">
							    adresse
                            </th>
                            <th class="align-middle">
							    villle
                            </th>
                            <th class="align-middle">
							    NPA_adresse
                            </th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tbody>
                            <tr>
                                <td>
                                    <input type="hidden" name="id_adresse_edit_html" value="{{ row.id_adresse }}"/>
                                </td>
                                <td>
                                    <input type = "text" name = "edit_adresse_html" value="{{ row.adresse }}"/>
                                </td>
                                <td>
                                    <input type = "text" name = "edit_ville_html" value="{{ row.ville }}"/>
                                </td>
                                <td>
                                    <input type = "text" name = "edit_NPA_adresse_html" value="{{ row.NPA_adresse }}"/>
                                </td>
                                <td>
                                    <button class="btn btn-warning" type="submit">Update</button>
                                </td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
			</form>
		</div>
	</div>
</div>
{% endblock %}
