<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Mon beau projet{% endblock %}</title>

	<!-- Bootstrap CSS en local -->
    <!-- OM 2020.05.04 OM JE PREFERE GARDER MES FICHIERS CSS ET JS DANS UN REPERTOIRE "EN LOCAL" 
        SINON ON EST TOUJOURS DEPENDANT D'UNE LIAISON A L'INTERNET. -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="{{ url_for('static', filename='js/jquery-3.4.1.slim.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
	<script src="{{ url_for('static', filename='bootstrap-4.4.1-dist/js/bootstrap.min.js') }}"></script>


	<!-- Stylesheets en local -->
	<!-- https://bootswatch.com/spacelab/ -->
	<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootswatch-4.4.1/spacelab/bootstrap.min.css') }}"> -->

	<!-- OM 2020.05.10
		Suite à une remarque méprisante d'un élève MM de chez QQ qui malheureusement est centré sur le design web, ce
		"gars"" préfère les thèmes sombres..., le pire est qu'il trouve cela beau...c'est du grand n'importe quoi !!!
		J'ai donc proposé ici un thème sombre... pffff !!! Je suis un grand n'importe qui !
	-->

	<!-- https://bootswatch.com/cyborg/ -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootswatch-4.4.1/cyborg/bootstrap.min.css') }}">
	<!-- https://flask.palletsprojects.com/en/1.1.x/patterns/favicon/ -->
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    {% block head %}
	{% endblock %}
</head>
<body>

{% block header %} {% endblock %}

{% include 'flash_messages.html' %}
<!-- Navigation -->
<div class="container">
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="{{ url_for('home_dans_routes_pour_exemple_hommage_m_el_vyn_mal_herbe') }}">Projet de Euron Ramadani</a>
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarResponsive">
		<ul class="navbar-nav ml-auto">
		  <li class="nav-item">
<!--		Afficher la liste des batiment dans l'ordre (ASC) et tous les batiment (0)-->
			<a class="nav-link" href="{{ url_for('batiment_afficher', order_by='ASC', id_batiment_sel=0) }}">Batiment</a>
		  </li>
		  <li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			  Liste
			</a>
			<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
			  <a class="dropdown-item" href="{{ url_for('adresse_afficher') }}">Adresse</a>
			  <a class="dropdown-item" href="{{ url_for('adresse_batiment_afficher_concat', id_adresse_sel=0) }}">Adresse et batiment</a>
				<a class="dropdown-item" href="{{ url_for('equipe_afficher', id_equipe_sel=0) }}">Equipe</a>
				<a class="dropdown-item" href="{{ url_for('equipe_batiment_afficher_concat', id_equipe_sel=0) }}">Equipe et batiment</a>
				<a class="dropdown-item" href="{{ url_for('materiel_afficher') }}">Matériel</a>
				<a class="dropdown-item" href="{{ url_for('equipe_materiel_afficher_concat', id_equipe_sel=0) }}">Equipe et matériel</a>
				<a class="dropdown-item" href="{{ url_for('personne_afficher') }}">Personne</a>
				<a class="dropdown-item" href="{{ url_for('personne_adresse_afficher_concat', id_personne_sel=0) }}">Adresse et personne</a>
				<a class="dropdown-item" href="{{ url_for('mail_afficher') }}">Adresse mail</a>
				<a class="dropdown-item" href="{{ url_for('personne_mail_afficher_concat', id_personne_sel=0) }}">Adresse mail et personne</a>
				<a class="dropdown-item" href="{{ url_for('personne_equipe_afficher_concat', id_personne_sel=0) }}">Equipe et personne</a>
				<a class="dropdown-item" href="{{ url_for('telephone_afficher') }}">Numéro de tél.</a>
				<a class="dropdown-item" href="{{ url_for('personne_telephone_afficher_concat', id_personne_sel=0) }}">Téléphone et personne</a>
			</div>
		  </li>
		  <li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			  Autres démos
			</a>
			<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
			  <a class="dropdown-item" href="{{ url_for('personne_taille_dict') }}">Démo pour les ERREURS</a>
			  <a class="dropdown-item" href="404.html">404</a>
			</div>
		  </li>
		</ul>
	</div>
	</nav>
</div>

<!-- End Navigation -->

{% block body %}{% endblock %}

{% block javascript %}

{% endblock %}
{% include 'footer.html' %}
</body>
</html>
