<footer class="mt-auto py-2">
  <div class="container-fluid">
      <hr class="py-0 bg-light" />
        <div class="row">
            <div class="col-md-6">Euron Ramadani 1C<span class="small"><br><a href="https://flashnettoyage.ch" target="_blank">Flash Nettoyage</a></span></div>
            <div class="col-md-3"></div>
            <div class="col-md-3 text-right small align-self-end">2020.06.29</div>
        </div>
  </div>
</footer>
