{% extends "base.html" %}
{% block title %} Nettoyage Service {% endblock %}
{% block body %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3>
				Nettoyage Service
			</h3>

						<p>
				Voici le projet pour le module 104
			</p>
			<ul>
				<li class="list-item">
					Cette base de donnée a entièrement été conçu pour une entreprise de nettoyage.<br>
					Elle permet de concevoir les équipes de nettoyage pour que chacune nettoie le batiment assigné avec le matériel nécessaire.<br>
					Il y a aussi les informations des employés comme leur adresse, mail, téléphone en cas de besoin de contact.
				</li>
			</ul>
			<h5>
				Mon avis à propos de ce module
			</h5>

			<ul>
				<li class="list-item2">
					<div>
					Je suis satisfait de mon module, au début j'étais vraiment perdu... j'avais loupé pas mal de cours car j'avais que des galères cette année.<br>
					Pour me rattraper j'ai commencé à avoir un peu d'aide mais j'ai décider de me mettre à fond et de pas abandonner car je voudrais me rattraper à cause de mes examens effectués.<br>
						Je me suis bien embêter avec les erreurs mais une fois résolu c'était très satisfaisant d'avoir réussi.<br>
					Je tiens à vous remercier de nous avoir appris beaucoup de choses en première année, même si nous avons dû faire des nuits blanches, d'ailleur cette année j'ai du battre mon record de nuit blanche.</div>
				</li>
			</ul>

		</div>

<!--			<button onclick="window.location.href = 'https://waytolearnx.com';"> Cliquez ici </button>-->
		</div>
	</div>

</div>

{% endblock %}
