{% extends "base.html" %}
{% block title %} Keyerror {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h3>
				 Key error
			</h3>
			<main class="site-content">
				<p>
					Un élément ne se trouve pas dans le dictionnaire<br>
                    <p>ATTENTION il faut changer la valeur de la variable "nom_batiment" dans le code Python</p>
                    <p>dans le fichier "routes.py" dans la fonction "batiment_taille_dict()"</p>
				</p>
			</main>
		</div>
	</div>
</div>
{% endblock %}
