{% extends "base.html" %}
{% block title %}Edit materiel{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Modifier ce materiel.
			</p>
			<form method="POST" action="{{ url_for('materiel_update') }}">
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>
                                id materiel
                            </th>
                            <th class="align-middle">
                                Nom materiel
                            </th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tbody>
                            <tr>
                                <td>
                                    <input type="hidden" name="id_materiel_edit_html" value="{{ row.id_materiel }}"/>
                                </td>
                                <td>
                                    <input type = "text" name = "edit_produit_materiel_html" value="{{ row.produit_materiel }}"/>
                                </td>
                                <td>
                                    <input type = "text" name = "edit_marque_materiel_html" value="{{ row.marque_materiel }}"/>
                                </td>
                                <td>
                                    <button class="btn btn-warning" type="submit">Update</button>
                                </td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
			</form>
		</div>
	</div>
</div>
{% endblock %}
