{% extends "base.html" %}
{% block title %} Afficher materiel {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Materiel à disposition
			</p>
            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th class="align-middle">
                            ID
                        </th>
                        <th class="align-middle">
							Matériel
                        </th>
						<th class="align-middle">
                            Marque du matériel
                        </th>

                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
				<tbody>
					<tr>
						<td class="align-middle">
							{{ row.id_materiel }}
						</td>
						<td class="align-middle">
							{{ row.produit_materiel }}
						</td>
						<td class="align-middle">
							{{ row.marque_materiel }}
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-primary" href="{{ url_for('materiel_add') }}" role="button">Ajouter</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('materiel_edit', id_materiel_edit_html=row.id_materiel) }}" role="button">Edit</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-danger" href="{{ url_for('materiel_select_delete', id_materiel_delete_html=row.id_materiel) }}" role="button">Delete</a>
						</td>
					</tr>
				</tbody>
            {% else %}
				<tbody>
					<tr>
						<td>
							Aucun materiel.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('materiel_add') }}" role="button">Ajouter</a>
						</td>
					</tr>
				</tbody>
            {% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}

