{% extends "base.html" %}
{% block title %} Ajouter une materiel{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Clavioter un nouveau materiel
			</p>
			<form method="POST">
				<div class="form-group">
					<label for="marque_materiel">
						Marque materiel
					</label>
					<input type ="text" class="form-control" name="marque_materiel_html" />
				</div>
				<div class="form-group">
					<label for="produit_materiel">
						Produit materiel
					</label>
					<input type ="text" class="form-control" name="produit_materiel_html" />
				</div>
				<button type="submit" class="btn btn-primary">
					Enregistrer materiel
				</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}
