{% extends "base.html" %}
{% block title %} Ajouter une adresse mail{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Clavioter un nouveau numéro de tél.
			</p>
			<form method="POST">
				<div class="form-group">
					<label for="numero_telephone">
						N° de téléphone
					</label>
					<input type ="text" class="form-control" name="numero_telephone_html" />
				</div>
				<button type="submit" class="btn btn-primary">
					Enregistrer le numéro de téléphone
				</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}
