{% extends "base.html" %}
{% block title %}Edit telephone{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Modifier ce numéro de téléphone Suisse
                <ul>
                <li class="regles">
            <p>Votre numéro doit commencer par +41 / 0041 ou 0</p>
                </li>
                </ul>
			</p>
			<form method="POST" action="{{ url_for('telephone_update') }}">
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>
                                ID
                            </th>
                            <th class="align-middle">
                                N° de téléphone
                            </th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tbody>
                            <tr>
                                <td>
                                    <input type="hidden" name="id_telephone_edit_html" value="{{ row.id_telephone }}"/>
                                </td>
                                <td>
                                    <input type = "text" name = "edit_numero_telephone_html" value="{{ row.numero_telephone }}"/>
                                </td>
                                <td>
                                    <button class="btn btn-warning" type="submit">Update</button>
                                </td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
			</form>
		</div>
	</div>
</div>
{% endblock %}
