{% extends "base.html" %}
{% block title %} Ajouter une adresse mail{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Clavioter une nouvelle adresse mail
			</p>
			<form method="POST">
				<div class="form-group">
					<label for="adresse_mail">
						Adresse mail
					</label>
					<input type ="text" class="form-control" name="adresse_mail_html" />
				</div>
				<button type="submit" class="btn btn-primary">
					Enregistrer l'adresse mail
				</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}
