{% extends "base.html" %}
{% block title %} Ajouter une equipe{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Clavioter un nouveau batiment
			</p>
			<form method="POST">
				<div class="form-group">
					<label for="nom_equipe">
						Nom batiment
					</label>
					<input type ="text" class="form-control" name="nom_equipe_html" />
				</div>
				<button type="submit" class="btn btn-primary">
					Enregistrer le batiment
				</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}
