{% extends "base.html" %}
{% block title %}Edit equipe{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Modifier ce equipe.
			</p>
			<form method="POST" action="{{ url_for('equipe_update') }}">
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>
                                id equipe
                            </th>
                            <th class="align-middle">
                                Nom equipe
                            </th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tbody>
                            <tr>
                                <td>
                                    <input type="hidden" name="id_equipe_edit_html" value="{{ row.id_equipe }}"/>
                                </td>
                                <td>
                                    <input type = "text" name = "edit_nom_equipe_html" value="{{ row.nom_equipe }}"/>
                                </td>
                                <td>
                                    <button class="btn btn-warning" type="submit">Update</button>
                                </td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
			</form>
		</div>
	</div>
</div>
{% endblock %}
